.mui-bar{
    background-color: #28cbc5;
}
.mui-bar-nav{
    box-shadow:0 1px 6px #ffffff;
}
.mui-title{
    color: #fdfafa;
    font-size:18px;
    letter-spacing: 2px;
    font-weight: bold;
}
body{
    background-color: #e8ecec!important;
}
a{
    color: #ffffff!important;
}
.mui-bar .mui-icon{
    font-size: 30px;
    padding-top: 8px;
}
.mui-content{
    margin-top: 5px;
    background-color: #ffffff;
    text-align: center;
}
.con_img{
    width: 60px;
    height: 60px;
    margin: 5px 0px 0px 0px;
}
.con_p{
    font-size: 18px;
    color: #6a6969;
    padding: 2px 0px 10px 0px;
    letter-spacing: 2px;
}
.ser_ul{
    background-color: #ffffff!important;
    width: auto!important;
    margin: 0px;
}
.ser_li{
    color: #28cbc5!important;
}
.ser_li>input{
    margin: 0px!important;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
    color: #28cbc5!important;
}
.mui-table-view-cell:after{
    height: 0px!important;
}
.ref_ul{
    background-color: #ffffff!important;
}
.ref_li{
    background-color: #ffffff!important;
}
.ref_a{
    color: #6a6969!important;
}
.content{
    background-color: #ffffff;
}
.con_div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px!important;
}
.info_div{
    display: flex;
    margin-left: 5px;
}
.info_div>p{
    font-size: 16px;
    color: #6a6969;
    padding-top: 6px;
}
.info_p1{
    padding-left: 5px;
}
.info_p2{
    padding-left: 8px;
}
.info_img{
    width: 30px;
    height: 30px;
}
.info_div1{
    color: #ff003c;
    font-size: 16px;
    padding-right: 10%;
    font-weight: bold;
}
.con_div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info_div2{
    display: flex;
    margin-left: 5px;
}
.info_img2{
    width: 30px;
    height: 30px;
}
.info_p3{
    font-size: 16px;
    color: #6a6969;
    padding-top: 8px;
    padding-left: 5px;
}
.info_img3{
    width: 35px;
    height: 30px;
    margin-right: 10%;
}
.con_div3{
    margin: 8px 0px;
    border-top: 1px dashed #cacaca;
}
.con_div4{
    margin: 10px;
}
.info_div3{
    color: #6a6969;
    font-size: 16px;
}
.info_p4{
    padding-left: 10px;
    letter-spacing: 2px;
}
.info_div4{
    color: #c4c3c3;
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
}
.info_p5{
    padding-left: 10px;
}
.con_con1{
    border-bottom: 1px solid #e8ecec;
}
.con_lab{
    color: #6a6969;
    font-size: 16px;
    padding:20px 10px!important;
    width: auto!important;
    font-weight: 500 !important;
    margin-bottom: 0px !important;
}
.con_ipt{
    color: #6a6969;
    font-size: 16px;
    margin-top: 8px!important;
    width: auto!important;
    float: none!important;
}
.info_p6{
    color: #6a6969;
    font-size: 16px;
    display: inline-block;
    padding:5px 7px!important;
}
.mui-table-view-cell:after{
    background-color: #ffffff!important;
}
.mui-table-view-cell.mui-active{
    background-color: #ffffff!important;
}
.con_con2{
    padding: 10px 5px;
    border-bottom: 1px solid #e8ecec;
}
.con_lab1{
    color: #6a6969;
    font-size: 16px;
    padding:20px 12px!important;
    width: auto!important;
    font-weight: 500 !important;
    margin-bottom: 0px !important;
}
.con_img2{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.con_labs{
    display: flex;
    color: #6a6969;
    font-size: 16px;
    padding:0px 12px!important;
    width: auto!important;
    float: none!important;
    font-weight: 500 !important;
    margin-bottom: 0px !important;
}
.con_div5{
    width: 96%;
    margin-left: 2%;
    background-color: #f1f1f1;
    color: #6a6969;
    font-size: 15px;
    border-radius: 5px;
    height: 100px;
    margin-top: 5px;
    padding: 5px;
    letter-spacing: 1px;
}
.info_div5{
    height: 70px;
    max-height: 70px;
    overflow-y: auto;
}
.info_div5>textarea{
    background: #f1f1f1;
    border: 0px;
}

.info_div6{
    float: right;
    font-size: 14px;
    position: relative;
    top: 3px;
}
.div_fot{
    margin-bottom: 20px;
}
.footer>button{
    width:100%;
    background: #28cbc5;
    color: #ffffff;
    font-size: 18px;
    outline: none;
    height:45px;
    border-radius: 0px;
    border:0px;
    letter-spacing: 3px;
}
/*图片上传*/
.images{
    max-height: 90px;
    position: relative;
    bottom: 3rem;
    left: 6rem;
    text-align: left;
    overflow-y: auto;
    /* width: 400px; */
    display: flex;
    width: 70%;
    overflow-x: auto;
}
.images img{
    width: 80px;
    height: 80px;
    margin:10px;
    position: relative;
    right: 10px;
}
.task-rings {
    background-color: #d33333;
    width: 13px;
    height: 14px;
    font-size: 13px;
    color: #fff;
    -webkit-border-radius: 7px;
    line-height: 14px;
    cursor: pointer;
    position: relative;
    left: 73%;
    bottom: 96px;
    z-index: 999;
}
.span_sp{
    position: absolute;
    top: 6px;
    left: 1%;
    display: inline-block;
    width: 90%;
    height: 2px;
    background-color: #ffffff;
}
